.viewgrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 85px;
}

.element {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
  cursor: pointer;
  white-space: nowrap;
}
